:root{
    --primary-color: white;
    --secondary-color:#0e6d11;
    --background-color: white;
    --text-color:#0e6d11;
    --nav-bg-color:white;   
    --footer-bg-color:#0e6d11 ;
    --section-padding: 20px; 
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    
}

header {
    background-color: var(--background-color);
    text-align: center;
    color: var(--text-color);
    padding: 10px 0;
    text-align: center;
    
}

nav {
    background-color:var(--secondary-color);   
    text-align: center;
} 

.menu-icon{
    cursor: pointer;
    font-size: 30px;
    display: none;
}

.menu-toggle{
    display: none;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: center;
}

nav ul li{
    display: inline;
    margin: 40px;
    font-size: larger;
}

nav ul li a{
    color:var(--primary-color);
    text-decoration: none;
    padding: 10px;
    font-size: xx-large;
}

h1 {
    margin-bottom: 10px;
}

main {
    margin: 20px auto;
    max-width: 800px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0e6d11;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:#0e6d11;
}

#data-display ul {
    list-style: none;
    padding: 0;
}

#data-display ul li {
    background-color: #e9e9e9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
