<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agro Solutions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style1.css">

</head>
<body>
    <nav id="navbar1" class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
          <a class="text-emphasis navbar-brand" href="#">
            <i class="fas fa-leaf" style="color: black;"></i> <!-- Ícono de hoja negro -->
          iAgrosolutions</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}"role="button" id="inicio">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('acercaNosotros') }}" role="button" id="Informacion Data">Acerca de Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('analisisData') }}" role="button" id="Informacion Data">Analisis Data</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <form form method="POST" action="/analisisData">
        <div class="mb-3">
            <label class="form-label">Selecione el municipio.</label>
            <select class="form-select" aria-label="Default select example" name="municipio">
                <option>Seleccione uno.</option>
                {% for m in municipios %}
                    <option>{{ m }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Consultar</button>
    </form>
    {% if show == 1 %}
        <div class="container py-5 text-center">
            <h3>Gráfica de los 5 Productos con mayor rendimiento (ton/ha) en {{ municipio }}.</h3>
            <img class="img-fluid rounded" src="../static/img/grafica.png" alt="">
                </div>
                <div class="row align-items-center">
                    <div class="">
                        <div class="accordion" id="accordionExample">
                            {% for animal, info in product_info.items() %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading{{loop.index}}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
                                            {{ animal }}
                                        </button>
                                    </h2>
                                    <div id="collapse{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="heading{{loop.index}}"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body align-items-center row">
                                            <div class="col-12 col-lg-8">
                                                <strong>Estado Fisico:</strong> {{ info.EstadoFisicoProduccio }}<br>
                                                <strong>Redimiento:</strong> {{ info.rendimiento }}<br>
                                                <strong>Nombre Cientifico:</strong> {{ info.nombre_cientifico }}<br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
